	body {
        max-width: 900px
        margin: 0 auto;
    }

    .sample {
	    color: red;
	}

    .Table
    {
        display: table;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        font-family: Tahoma, Geneva, sans-serif;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: solid 2px #E0E0E0;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
        padding: 25px;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        padding: 25px;
    }

	.btn {
	  -webkit-border-radius: 7;
	  -moz-border-radius: 7;
	  border-radius: 7px;
	  font-family: Arial;
	  color: #5e5e5e;
	  font-size: 14px;
	  background: #f0f0f0;
	  padding: 10px 20px 10px 20px;
	  border: solid #dbdbdb 2px;
	  text-decoration: none;
	}
	
	.btn:hover {
	  background: #3cb0fd;
	  text-decoration: none;
	}

	.Box {
		height: 400;
        width: 500;
	}

	.inBox {
		text-align: center;
        font-weight: bold;
        font-size: larger;
        padding: 25px;
	}
	
	
	
	